<div class="container">
  <app-numpad [dimensions]="dimensions" (inputChange)="numpadChanged($event)"></app-numpad>
  <button mat-flat-button color="primary" (click)="trainNetwork()" *ngIf="paused; else stop">Train Network</button>
  <ng-template #stop><button mat-flat-button color="accent" (click)="pauseTraining()"> Pause Training </button></ng-template>
  <button mat-flat-button color="warn" (click)="resetModel()"> Reset Model </button>
  <app-statistics
    [prediction]="prediction"
    [confidence]="confidence"
    [sumOfSquaredErrors]="epochs.length > 0 ? epochs[epochs.length - 1].sumOfSquaredErrors : inf"></app-statistics>
  <app-network-diagram
    *ngIf="epochs.length > 0"
    [model]="epochs[epochs.length - 1].model"></app-network-diagram>
</div>
